/* 모달 배경 (오버레이) */
.DialogOverlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

/* 모달 컨텐츠 */
.DialogContent {
    background-color: #1F2937;
    padding: 25px;
    border-radius: 8px;
    border: 1px solid white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px; /* 크기 살짝 증가 */
    width: 100%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

/* 모달 제목 */
.DialogTitle {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 12px;
    color: #60A5FA;
}

/* 모달 설명 */
.DialogDescription {
    font-size: 14px;
    color: #9CA3AF;
    margin-bottom: 30px;
}

/* 모달 내부 레이아웃 */
.ModalBody {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 0;
    color: white;
}

/* 적용 버튼 */
.ApplyButton {
    width: 100%;
    background-color: #60A5FA;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    transition: background-color 0.2s;
    margin-top: 30px;
}

.ApplyButton:hover {
    background-color: #3a7bd5;
}

/* 닫기 버튼 (X 버튼) */
.CloseButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 15px;
    cursor: pointer;
    color: #9CA3AF;
    transition: color 0.2s;
}

.CloseButton:hover {
    color: #F3F4F6;
}
.ControlContainer {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 15px; /* 컨트롤 사이 간격 */
    color: #60A5FA;
}
.ControlContainer div {
    display: flex;
    gap: 5px; /* label과 input 사이 간격 */
}
.ControlRow {
    display: flex;
    flex-direction: row;
    gap: 10px; /* 컨트롤 사이 간격 */
    align-items: center;
}

/* X, Y, Z 라벨 스타일 */
.Label {
    width: 30px; /* 고정 너비 */
    font-weight: bold;
    text-align: right;
}

/* 입력 박스 */
.Input {
    width: 100%;
    height: 25px;
    padding: 6px;
    border: 1px solid #60A5FA;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    background-color: #1F2937;
    color: white;
    text-align: right;
}

/* 모달 애니메이션 */
@keyframes overlayShow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes contentShow {
    from {
        opacity: 0;
        transform: translate(-50%, -48%) scale(0.96);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

